@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

div#word-report {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 800px;
    gap: 10px;
    padding-top: 20px;
}

div#word-report > div {
    width: 600px;
    text-align: center;
    color: #00000088;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
}

div#word-report > p {
    border-top: 1px solid grey;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

p {
    font-family: Monteserrat, sans-serif;
    font-size: 16pt;
    margin: 0;
    padding: 0;
}