@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&family=Montserrat&family=Comic+Neue&display=swap');

h1 {
    font-family: 'Edu QLD Beginner', sans-serif;
    font-size: 256pt;
    width: max-content;
    height: max-content;
    margin: auto;
}