@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&family=Montserrat&family=Comic+Neue&display=swap');

@font-face {
    font-family: "Lexend";
    src:
        url("https://posertinlab.com/fonts/lexend-extralight.woff2") format("woff2"),
        url("https://posertinlab.com/fonts/lexend-extralight.ttf") format('ttf');
}

html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Lexend', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

div#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 100%;
    margin: auto;
}

#quiz-target {
    font-size: 256pt;
    margin: auto auto;
    line-height: 1;
}

p#quiz-target.is-a-number {
    color: blue;
}

p#quiz-target.is-a-word {
    color: green;
}

p#quiz-target.finished {
    font-family: 'Montserrat', sans-serif;
}

p#quiz-target.other-handwritten {
    font-family: 'Edu QLD Beginner', sans-serif;
}

#target-type,
#student-name,
#quiz-type {
    text-transform: capitalize;
}