@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

div#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 100%;
    margin: auto;
}

p#quiz-target {
    font-family: 'Comic Neue', sans-serif;
    font-size: 256pt;
    margin: auto auto;
    line-height: 1;
}

p#quiz-target.is-a-number {
    color: blue;
}

p#quiz-target.is-a-word {
    color: green;
}

p#quiz-target.finished {
    font-family: 'Montserrat', sans-serif;
}

p#quiz-target.arial {
    font-family: Arial, Helvetica, sans-serif;
}