@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

h1 {
    width: max-content;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

#student-list-holder {
    max-height: 80vh;
    overflow: scroll;
    scrollbar-width: none;
    height: max-content;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    width: max-content;
    padding-top: 10px;
}

div.v-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: max-content;
    margin: auto;
    padding-top: 10px;
    height: 100%;
}

div.h-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    max-width: 1000px;
    height: 100px;
    margin: auto;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
}