@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
    font-family: "Lexend";
    src:
        url("https://posertinlab.com/fonts/lexend-extralight.woff2") format("woff2"),
        url("https://posertinlab.com/fonts/lexend-extralight.ttf") format('ttf');
}

html {
    font-family: 'Lexend', 'Montserrat', sans-serif;
    font-size: 16pt;
}

h1,
h2 {
    width: max-content;
    margin: auto;
}

h2 {
    opacity: 0.5;
}

hr {
    width: 95%;
    margin: auto;
}

#student-list-holder {
    max-height: 80vh;
    overflow: scroll;
    scrollbar-width: none;
    height: max-content;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    width: max-content;
    padding-top: 10px;
}

#student-list-holder::-webkit-scrollbar {
    display: none;
}

div.v-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: max-content;
    margin: auto;
    padding-top: 10px;
    height: 100%;
}

div.h-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    max-width: 1000px;
    height: max-content;
    margin: auto;
}

select {
    background: #E2E2E2;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    width: 50%;
    height: 2rem;
    font-size: 16pt;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

div#main-container>div {
    width: 50%;
}