<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/dashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <h1>Most Recent Student Assessment</h1>
    <div class="h-flex" id="examples">
        <div>
            <div class="example-square" data-example-of="all-correct" style="background-color: #1b9e77;"></div><p>All Correct</p>
        </div>
        <div>
            <div class="example-square" data-example-of="missing-name" style="background-color: #d95f02;"></div><p>Missed Name</p>
        </div>
        <div>
            <div class="example-square" data-example-of="missing-sound" style="background-color: #7570b3;"></div><p>Missed Sound</p>
        </div>
        <div>
            <div class="example-square" data-example-of="missing-sound,missing-name" style="background-color: #e7298a;"></div><p>Missed Both</p>
        </div>
        <div>
            <div class="example-square" data-example-of="missing-read" style="background-color: #fb9a99;"></div><p>Misread Word</p>
        </div>
    </div>
    <div class="hidden" id="hover-container"></div>
    <div class="hidden" id="updater-container">
        <h2 id="updater-title">You should not see this!</h2>
        <div class="h-flex">
            <div class="button selected" id="button-name"><p>Name/Word</p></div>
            <div class="button" id="button-sound"><p>Sound</p></div>
        </div>
        <div class="h-flex">
            <div class="button" id="button-correct"><p>Correct</p></div>
            <div class="button" id="button-incorrect"><p>Incorrect</p></div>
        </div>
        <div class="h-flex">
            <div class="button" id="button-done">
                <p>Done</p>
            </div>
        </div>
    </div>
    <div id="dashboard">
        
    </div>
</body>

<script>
    const dashboardType = JSON.parse({{dashboard_type|tojson}});
    const studentSuccess = JSON.parse({{success_strings|tojson}});
</script>
<script src="/static/dashboard.js"></script>
</html>