<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Words - Report</title>
    <link rel="stylesheet" href="/static/heart-words-report.css">
</head>
<body>
    <div id="word-report"></div>
</body>
<script>
    const reportInfo = JSON.parse({{reportInfo|tojson}});
</script>
<script src="/static/heart-words-report.js"></script>
</html>