<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>New Quiz</title>
</head>
<body>
    <div class="h-flex" id="main-container">
        <div>
            <h1>Perform Quizzes</h1>
            <div class="h-flex">
                <p style="width: 150px;">Quiz type:</p>
                <select name="quiz-type" id="quiz-type-selector">
                    <option value="upper">Uppercase</option>
                    <option value="lower">Lowercase</option>
                    <option value="words">Words</option>
                    <option value="heart_words">Heart Words</option>
                    <option value="numbers">Numbers</option>
                </select>
            </div>
            <hr>
            <div id="student-list-holder">
            </div>
        </div>
        <div class="v-flex">
            <h1>Inspect Results</h1>
            <h2>Manage Students</h2>
            <a href="javascript:;" onclick="newKid()">Add a student</a>
            <a href="javascript:;" onclick="deleteKid()">Remove a student</a>
            <hr>
            <h2>View Dashboards</h2>
            <a href="/dashboard/upper">Uppercase</a>
            <a href="/dashboard/lower">Lowercase</a>
            <a href="/dashboard/words">Words</a>
            <a href="/dashboard/heart_words">Heart Words</a>
            <a href="/dashboard/numbers">Numbers</a>
            <hr>
            <h2>Download Data</h2>
            <a href="/api/make-csv">Download CSV data</a>
            <a href="/api/make-table?type=full">View proficiency table</a>
            <a href="/api/make-table?type=collapsed">View collapsed proficiency table</a>
        </div>
    </div>
</body>

<script>
    const studentList = {{students|tojson}};
</script>
<script src="/static/db_manage.js"></script>
</html>