<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>New Quiz</title>
</head>
<body>
    <div class="h-flex">
        <div>
            <h1>New quiz for which student?</h1>
            <div class="v-flex" id="student-list-holder">
            </div>
        </div>
        <div class="v-flex">
            <h1>Or:</h1>
            <a href="javascript:;" onclick="newStudent()">Add a student</a>
            <a href="javascript:;" onclick="deleteStudent()">Remove a student</a>
            <a href="/api/make-csv">Download CSV data</a>
            <a href="/student-dashboard">Student dashboard</a>
            <a href="/seating-chart">Seating chart</a>
            <a href="/api/make-graphs">Make graphs</a>
        </div>
    </div>
</body>

<script>
    const studentList = {{students|tojson}};
</script>
<script src="/static/db_manage.js"></script>
</html>