<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seating Chart</title>
    <link rel="stylesheet" href="/static/seating-chart.css">
</head>
<body>
    <div class="h-flex">
        <div id="chart-container"><img id="seating-chart" src="/static/seating-chart.svg" alt=""></div>
        <div id="drag-holder"></div>
    </div>
</body>

<script>
    const seatingChart = JSON.parse({{seating_chart|tojson}});
</script>
<script src="/static/seating-chart.js"></script>
</html>